/* Paleta de colores Dewey */
$Dewey-1-rgba: rgba(0, 60, 97, 1);
$Dewey-2-rgba: rgba(69, 168, 230, 1);
$Dewey-3-rgba: rgba(0, 139, 224, 1);
$Dewey-4-rgba: rgba(29, 71, 97, 1);
$Dewey-5-rgba: rgba(0, 107, 173, 1);
// Fuentes
$MainFont: 'Raleway', sans-serif;
$secundaryFont: 'Mukta', sans-serif;